{% extends 'base.html' %}

{% block title %} Edit Post {% endblock %}

{% block content%}

<h1> Edit Post </h1>

<div class="edit_post_form_container">
    <form method="POST">
        <label for="title">Title</label><br>
            <input type="text" name="title" id="title" value="{{post.title}}"><br>
        <label for="content">Content</label><br> 
            <input type="text" name="content" id="content" value="{{post.content}}"><br>
        <button> save </button>   
    </form>

    <div class="form-check">
        {% for tag in tags %}
        <div>
          <input class="form-check-input"
                 type="checkbox"
                 value="{{ tag.id }}"
                 id="tag_{{ tag.id }}"
                 {% if tag in post.tags %}checked{% endif %}
                 name="tags">
          <label class="form-check-label" for="tag_{{ tag.id }}">
            {{ tag.name }}
          </label>
        </div>
        {% endfor %}
    </div>

    <button class="cancel"><a href="/users/{{user}}">Cancel</a></button>
</div>

{% endblock %}